/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ff8c00, #ff007f, #9c1aff, #ff007f);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.message {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    animation: textAnimation 4s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textAnimation {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.6;
    }
}
